################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/TASK/FileContentIndex/0b8e252e-3cfc-4afa-af62-8a516a52118e.vsidx
/.vs/TASK/FileContentIndex/0bd06635-31d8-4d97-88a7-e4163bb47d52.vsidx
/.vs/TASK/FileContentIndex/5892c833-c88f-4b05-b8dd-c81ad39e00a8.vsidx
/.vs/TASK/FileContentIndex/603ebc1d-c3b4-4d04-b60e-c8448d403209.vsidx
/.vs/TASK/FileContentIndex/d45613fc-444d-49bf-b3b8-a794ae6a389c.vsidx
